@import "tailwindcss";

@theme {
  /* The bright green (#00ff82) */
  --color-neon: #00ff82;

  /* The soft grey-green (#bfcecc) */
  --color-sage: #bfcecc;

  /* The deepest background (#000b18) */
  --color-navy: #000b18;

  /* The lighter surface (#001a2e) */
  --color-dusk: #001a2e;

  /* Monsterrat font */
  --font-spartan: "League Spartan", sans-serif;

  /* Monsterrat font */
  --font-montserrat: "Montserrat", sans-serif;

  /* Color background main */
  --color-bg-main: var(--main-bg);

  /* Color background surface */
  --color-bg-surface: var(--surface-bg);

  /* Color text main*/
  --color-text-main: var(--main-text);

  /* Color text muted */
  --color-text-muted: var(--muted-text);

  /* Button color */
  --color-text-button: var(--button-text);
} 

:root{
    /* Dark theme */
    --main-bg: var(--color-navy);
    --surface-bg: var(--color-dusk);
    --main-text: #ffffff;
    --muted-text: var(--color-sage);
    --button-text: var(--color-neon);
}

html.light {
    /* Light theme */
    --main-bg: var(--color-sage);
    --surface-bg: #ffffff;
    --main-text: var(--color-navy);
    --muted-text: var(--color-dusk);
    --button-text: var(--color-navy);
}

@layer base {

  html {
    background-color: var(--main-bg);
    transition: background-color 0.3s ease;
  }

  body {
    /* Main background color */
    background-color: var(--main-bg);
    
    /* Gradient from left to right or vice versa */
    background-image: linear-gradient(to right, var(--main-bg), var(--surface-bg));
    
    /* choose the default color to be sage */
    color: var(--muted-text); 

    font-family: var(--font-montserrat);

    /* Smooth transition */
    transition: background-color 0.5s ease-in-out, 
                color 0.5s ease-in-out, 
                border-color 0.5s ease-in-out,
                background-image 0.5s ease-in-out;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-spartan);
    font-weight: 700;
  }
}


/* Fade in animation for about page */
@layer utilities {
    .animate-fade-in {
        animation: fadeIn 0.5s ease-out forwards;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0 ;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Scroll bar */
@layer utilities {
    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        background: var(--color-text-surface); /* Navy with opacity */
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--color-text-muted); /* Sage with opacity */
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--button-text); /* Neon hover */
    }
}