@import "tailwindcss";

@theme {
  /* The bright green (#00ff82) */
  --color-neon: #00ff82;

  /* The soft grey-green (#bfcecc) */
  --color-sage: #bfcecc;

  /* The deepest background (#000b18) */
  --color-navy: #000b18;

  /* The lighter surface (#001a2e) */
  --color-dusk: #001a2e;

  /* Monsterrat font */
  --font-spartan: "League Spartan", sans-serif;

  /* Monsterrat font */
  --font-montserrat: "Montserrat", sans-serif;
}

@layer base {
  body {
    /* Navy color */
    background-color: var(--color-navy);
    
    /* Gradient from left to right or vice versa */
    background-image: linear-gradient(to right, var(--color-navy), var(--color-dusk));
    
    /* choose the default color to be sage */
    color: var(--color-sage); 

    font-family: var(--font-montserrat);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-spartan);
    font-weight: 700;
  }
}


/* Fade in animation for about page */
@layer utilities {
    .animate-fade-in {
        animation: fadeIn 0.5s ease-out forwards;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0 ;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Scroll bar */
@layer utilities {
    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        background: rgba(0, 11, 24, 0.5); /* Navy with opacity */
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(191, 206, 204, 0.2); /* Sage with opacity */
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 255, 130, 0.5); /* Neon hover */
    }
}